.loader{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 20px solid yellow;
    border-top: 2opx solid aqua;
    animation: spinAnimate 3s ease-in 0s infinite;
}
@keyframes spinAnimate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}